body{
    margin: 0px;
    padding: 0px;
}

.conversion-body{
    position:absolute;
    top: 5%;
    left: 40%;
    width: 400px;
    height: 150px;
    background: aquamarine;
    box-shadow: 0px 0px 2px 1px black;
}

.weightconversionbody{
    position:absolute;
    top: 30%;
    left: 40%;
    width: 400px;
    height: 150px;
    background: cornflowerblue;
    box-shadow: 0px 0px 2px 1px black;
}

.tempconversionbody{
    position:absolute;
    top: 55%;
    left: 40%;
    width: 400px;
    height: 150px;
    background: #7f73e7;
    box-shadow: 0px 0px 2px 1px black;
}

.title,.weighttitle,.temptitle{
    text-align: center;
    margin: 15px 0px;
}

input,weightinput,tempinput{
    height: 20px;
    text-align: center;
}

#input,#weightinput,#tempinput{
    margin-left: 15px;
}

#InputType,#OutputType,#WeightInputType,#WeightOutputType,#TempInputType,#TempOutputType{
    width: 177px;
    margin-left: 15px;
    color: #1344a5;
    text-align: center;
}

#OutputType,#WeightOutputType,#TempOutputType{
    margin-left: 13px;
}

