<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Factorial - 4 Way Algos</title>
</head>
<body>
<div class="contact" style="height: 35vh;">
    <div class="contact" style="height: 35vh;">
        <div style="margin: 2%;">
            <h1><strong>4 Different Ways to Calculate Factorials</strong></h1>
        </div>

        <div style="margin: 2%;">
            <form id="factorialcalc" action="/factorial" method="GET" >
                <label for="num">Type a number:</label>
                <input name="num" id="num" type="number">
                <button>Enter!</button>
            </form>
        </div>

        <div style="margin: 2%;">
            <p th:text="'Factorial of the number:' + ${num}"></p>
        </div>


        <div style="margin: 2%;">
            <h4>Here are 4 different ways to calculate factorials. These methods include Iteration, Recursion, Streams and BigInteger.</h4>
        </div>
        <div style="margin: 2%;">
            <p th:text="Factorial Calculator"></p>
            <p th:text="Calculating Factorials using Iteration"></p>
            <div>
                <h5>Calculating Factorials using Iteration</h5>
            </div>
            <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2FPranavKambhampati%2FCalculatorHubPlayground%2Fblob%2Fmaster%2Fsrc%2Fmain%2Fjava%2FFactorial%2FFactorialIteration.java&style=github&showBorder=on&showLineNumbers=on&showFileMeta=on"></script>
            <p th:text="Calculating Factorials using Recursion"></p>
            <div>
                <h5>Calculating Factorials using Recursion</h5>
            </div>
            <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2FPranavKambhampati%2FCalculatorHubPlayground%2Fblob%2Fmaster%2Fsrc%2Fmain%2Fjava%2FFactorial%2FFactorialRecursion.java&style=github&showBorder=on&showLineNumbers=on&showFileMeta=on"></script>
            <p th:text="Calculating Factorials using Streams"></p>
            <div>
                <h5>Calculating Factorials using Streams</h5>
            </div>
            <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2FPranavKambhampati%2FCalculatorHubPlayground%2Fblob%2Fmaster%2Fsrc%2Fmain%2Fjava%2FFactorial%2FFactorialStreams.java&style=github&showBorder=on&showLineNumbers=on&showFileMeta=on"></script>
            <p th:text="Calculating Factorials using BigInteger (for REALLY big factorials)"></p>
            <div>
                <h5>Calculating Factorials using BigInteger (for REALLY big factorials)</h5>
            </div>
            <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2FPranavKambhampati%2FCalculatorHubPlayground%2Fblob%2Fmaster%2Fsrc%2Fmain%2Fjava%2FFactorial%2FFactorialBigInteger.java&style=github&showBorder=on&showLineNumbers=on&showFileMeta=on"></script>
        </div>
    </div>
</div>
</body>
</html>